body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
canvas{
    border:solid red;
}
.Contain{
    position: absolute;
    right: 20%;
    top: 4%;
    color: white;
    font-size: 30px;
}

#winTag{
    position: absolute;
    top: 100px;
    left: 190px;
    font-weight: bolder;
    color: #E01E47;
    font-size: 100px;
    display: none;

}
p:nth-child(2){
    margin-top: 0px;
}
p:nth-child(1){
    margin-bottom: 0px;
}